.Gallery-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #282c34;
}

.Gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
}

.Gallery-filters {
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    background-color: #f2f2f2;
    padding: 15px 0px;
    border-radius: 15px;
}

.Gallery-filters button {
    margin: 0 3px;
    padding: 10px;
    border: 1px solid #282c34;
    border-radius: 15px;
    background-color: white;
    color: #282c34;
    font-size: 16px;
    cursor: pointer;
}

.Gallery-filters button:active,
.Gallery-filters button:hover,
.Gallery-filters button:focus {
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.322) 50%, white 50%);
}

.page-btn {
    margin: 10px;
    text-decoration: none;
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.322) 50%, white 50%);
    border-radius: 15px;
    padding: 10px;
    transition: 0.1s;
}

a:hover {
    padding: 11px;
    color: darkgray;
}

a:visited,
a:active {
    color: #282c34;
}

.Gallery-header {
    margin-top: 20px;
}